/* Considerações gerais */

p, h1, h2, h3{
    margin: 0;
    font-family: "Arial";
}

body{
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}




h1{
    text-align: center;
    font-weight: bold;
    font-size:40px;
    font-family: "Verdana";
    
}

p{
    font-size: 20px;    
}

nav{
    margin: 30px 0;
}

nav ul{
    display: flex;
    flex: auto;
    justify-content: center;
    list-style: none;
    gap: 60px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    flex-basis: 60px;
    background-color: white;
    padding: 10px 16px;
    border-radius: 5px;
    
}    


.corpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 1000px;
}

.apresentacao{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;

}

.apresentacao span{
    background-color: #ee2211;
    position: absolute;
    top: 20px;
    right: 470px;
    width: 60px;
    height: 4px;
}   


.apresentacao img{
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
}


.textoApresentacao{
    display: flex;
    flex-direction: column;
    text-align: end;
    align-self: center;
    background-color: white;
    padding: 62px;
    gap: 16px;
 
}

.textoApresentacao h2{
    font-size:25px;
}

.textoApresentacao a{
    background-color: #ee2211;
    padding: 10px 18px;
    align-self: flex-end;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: baseline;
    align-content: center;
    align-items: center;
    gap: 40px;
}

.conteudo h2{
    font-size: 64px;
    color: #c6c6c6;
    text-align: end;
    padding: 20px;
}

.painelVantagens{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    justify-items: center;
    gap: 10px;  
    background-color: white;
    padding: 50px;

}



.vantagens{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    text-align: start;
}

.vantagens img{
    max-width: 200%;
}

.textoVantagens{
    display: grid;
    gap: 10px;
}


#footer{
    text-align: center;
    margin-top:50px;
    padding: 10px;
}







